* {
    box-sizing: border-box;
    background-color: bisque;
}

#weatherreport-title {
    text-align: center;
    max-width: 900px;
}

#temp-container,
#landscape-container,
#city-container,
#sky-container {

    max-width: 900px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    border: 3px solid black;
    text-align: center;
    border-radius: 3%;

}

img {
    width: 100%;
    height: 400px;

}


.city-info,
#city-input,
#label-sky {
    font-size: 20px;
    margin: auto;
    width: 50%;
    height: 50px;


}

#temp-degree {
    color: black;
    font-size: 70px;
}

button {
    cursor: pointer;
}